<h1>Battle of Neighborhood Week #1</h1>

<h2>Introduction & Business Problem :</h2>

<img src="https://media-exp1.licdn.com/dms/image/C511BAQG-vuRNhVFHCg/company-background_10000/0?e=2159024400&v=beta&t=uNhLqY16BvGC2qIDyC4zStpVgHCakpN4kL9AgufKvE8" alt="MRT Jakarta" width="500" height="600">

<h3>Problem Background :</h3>
If you have ever considered making a change and moving to live near MRT Station, you have probably, at some point, considered a variety of factors to determine where best to move. There are a lot of factors about where you live that can affect your quality of life and your happiness. One of most important factor is neighborhoods around the stations should be suitable with your needs and people needs might be different. For example if you are yoga enthusiast, you might be consider to live near yoga studio, or if you are movie addict, you might be consider to live near cinema, and so on.

Therefore, for this capstone project, I will create a <b>recommender system by finding similarities of the user's needs and then match them with any station that has nearby venue by using the cosine of similarity technique.</b> So users will get a list of recommended places to live around the MRT Station based on their preference.

<h3>Data</h3>

Data will be used here :
<ol><li>List of MRT Station in Jakarta (Indonesia only have MRT in Jakarta right now) in wikipedia.</li>
<li>Fetch Latitude and Longitude using Geopy as course before.</li>
<li>Fetch all of categories venue using Foursquare API.</li>
<li>List of preference venue from user.</li>
</ol>

<h4>Example Data</h4>

In [2]:
import pandas as pd

In [8]:
df_station = pd.DataFrame(columns=['Station Name', 'Latitude', 'Longitude' ] )

In [13]:
#scraping from wikipedia and fetch Lat and Long using geopy
df_station.loc[0] = ['Lebak Bulus', 'xxx', 'xxx']
df_station.loc[1] = ['Blok M', 'xxy', 'xxy']
df_station

  Station Name Latitude Longitude
0  Lebak Bulus      xxx       xxx
1       Blok M      xxy       xxy

In [17]:
#list categorical venue using foursquare
df_venue = pd.DataFrame(columns=['Station Name', 'Yoga Studio', 'Restaurant', 'Park', 'Cinema', 'Mall'])

In [20]:
#Finalizaton of dataframe station
df_venue.loc[0] = ['Lebak Bulus', 0, 1, 0, 1, 0]
df_venue.loc[1] = ['Blok M', 0, 1, 0, 1, 1]
df_venue

  Station Name Yoga Studio Restaurant Park Cinema Mall
0  Lebak Bulus           0          1    0      1    0
1       Blok M           0          1    0      1    1

In [22]:
#FInalization of dataframe user
df_user = pd.DataFrame(columns=['User Name', 'Yoga Studio', 'Restaurant', 'Park', 'Cinema', 'Mall'])
#the user only want mall
df_user.loc[0] = ['Bagja', 0, 0, 0, 0, 1]
df_user

  User Name Yoga Studio Restaurant Park Cinema Mall
0     Bagja           0          0    0      0    1

After that, user table will find similarity with station that have preferenced venues and the result will be list of all station that match criteria